html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

/* Estilos padrão para todos os navegadores */
.integration-button-wrapper {
  position: fixed !important;
  bottom: 5% !important;
  right: 2.5% !important;
}

#integration-button {
  border: 1px solid rgb(72, 255, 0) !important;
  background-color: #236f21 !important;
  height: 3.2rem !important;
  width: 3.2rem !important;
  border-radius: 50% !important;
}

#integration-button:hover {
  border-color: whitesmoke;
}

#integration-button > span {
  color: #1dc046;
  font-weight: bolder;
  font-size: 1.55rem;
  font-stretch: ultra-expanded;
}

/* Media queries para dispositivos móveis até 900px */
@media only screen and (max-width: 900px) {
  .integration-button-wrapper {
    position: fixed;
    top: 88.5% !important;
    right: 4% !important;
  }

  #integration-button {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }

  #integration-button > span {
    font-size: 1.2rem;
    font-stretch: normal;
  }
}

/* Media queries para dispositivos móveis entre 901px e 1200px*/
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .integration-button-wrapper {
    position: fixed;
    top: 88% !important;
    right: 2% !important;
  }

  #integration-button {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }

  #integration-button > span {
    font-size: 1.2rem;
    font-stretch: normal;
  }
}

.pdf-title {
  font-size: 60px;
}

.pdf-border-up-down {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.pdf-oblique {
  font-style: oblique 24deg;
  text-decoration: underline;
}
