html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

.integration-button-wrapper {
  position: fixed;
  bottom: 5%;
  right: 2.5%;
}

#integration-button {
  border: 3px solid rgb(72, 255, 0);
  background-color: #236f21;
  height: 69px;
  width: 75px;
  border-radius: 50%;
}

#integration-button:hover {
  border-color: whitesmoke;
}

.pdf-title {
  font-size: 60px;
}

.pdf-border-up-down {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.pdf-oblique {
  font-style: oblique 24deg;
  text-decoration: underline;
}
